export(build_kpca_object)
export(kpca_regression)
export(kpca_logistic_regression)
export(plot_pdp)
export(plot_kpca_logistic_regreession_perf)

S3method(print, kpca)
S3method(summary, kpca)
S3method(print, kernLogReg)
S3method(summary, kernLogReg)
S3method(print, kernReg)
S3method(summary, kernReg)
S3method(predict, kernLogReg)
S3method(predict, kernReg)