export(K_matrix)
export(K_vector)
export(center_kernel_matrix)
export(center_kernel_test_vec)
export(kernel_pca)
export(kpca_regression)
export(kpca_logistic_regression)
export(kernReg_predict)
export(get_num_pcs)

#S3method(predict, kernReg)
S3method(print, kernel_matrix)
S3method(summary, kernel_matrix)
S3method(print, kernel_pca)
S3method(summary, kernel_pca)